## Agda
*.agdai
*.agda~

#LIPIcs specific
*.vtc

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.ptb

## Don't push compiled latex
abstract/*.dvi
abstract/*.pdf

# beamer
*.nav
*.pre
*.snm
*.vrb

## latexmk
*.fdb_latexmk

## bibliography
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## xcolor
*.xcp
